.search {
  background-color: #0d0004;
  padding: 10px 0px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
form {
  padding: 10px 0px;
  font-size: 25px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.heading {
  color: white;
}
input[type="text"] {
    outline: none !important;
  font-size: 25px;
  color: white;
  background-color: #0d0004;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid white;
}
button{
    border: 3px solid white;
    margin-top: 15px !important;
        font-size: 20px;
    display: block;
    padding: 10px 20px ;
    background-color: #0d0004;
    color: white;
    outline: white !important;
    
    align-items: center;
    text-align: center;
    margin: 0 auto;

}